*{
    margin: 0px;
    padding: 0px;
    font-family: 'Bebas Neue', sans-serif;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(27,25,148,0.5), rgba(2, 2, 5, 0.2)), url(images/pexels-jeshootscom-7432.jpg) ;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-bar{
    flex: 1;
    text-align: right;
}
.nav-bar ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-bar ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.shopping{
    width: 35px;
    height: 35px;
}
.login{
    width: 35px;
    height: 35px;
}
.nav-bar ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(85, 85, 224);
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav-bar ul li:hover:after{
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 900px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
.ima1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    border-radius: 60px;
}